
.rootDiv {
    width: 80%;
    margin: 10px auto;
}

.dropDown {
    margin-bottom: 10px;
    margin-right: 10px;
    width: 110px;
    text-align: center;
}

.amount {
    display: inline-block;
}

.addOptions {
    margin-top: 10px;
    margin-bottom: 10px;
}

.addOptions label {
    margin-right: 10px;
}

.addOptions .text {
    width: 110px;
    margin-right: 10px;
    text-align: center;
}

.addOptions .datepicker {
    margin-right: 10px;
}

.addOptions .submitButton {
    margin-right: 10px;
}

.addRecordButton {
    margin-bottom: 10px;
}